<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: María Párraga  <br>
Fecha: 15/07/2022

# Importación de librerias necesarias

In [7]:
#Para esta actividad se importarán las siguientes librerías:
#importar libreria pandas
import pandas as pd
# importar metodo de scalado standar
from sklearn.preprocessing import StandardScaler
# Importación de método para dividir datos de prueba 
from sklearn.model_selection import train_test_split
# Importación de método para clasificación
from sklearn.tree import DecisionTreeClassifier
#Importación de modelo
from sklearn import linear_model
#Importacion de metodos para calculo de error cuadratico y variaza
from sklearn.metrics import mean_squared_error, r2_score

## Cargar el Dataset

In [8]:
#nombre del Dataset
data = 'Real estate.csv'
#Transfromando datos cvs con delimitador , 
data2 = pd.read_csv(data, header=0, sep=',')

#Creando un nuevo dataset
df = pd.DataFrame(data2)
#imprimir los datos del dataset
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

## Descripción de la fuente del Dataset

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [1]:
#Código que responde a la descripción anterior

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

## División del dataset en datos de entrenamiento y datos de test

In [2]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Regresión Lineal

In [3]:
#Códo del modelo

In [4]:
#Entrenamiento

In [5]:
#Test

## Evaluación del Modelo